/* =======================
   Background da Scrollbar
    Chorme, Edge e Safari
   ======================= */
   ::-webkit-scrollbar {
    width: 12px;
    border: 5px solid #ffffff;
}
  
/* =====================
          ScrollBar
     Chorme, Edge e Safari
   ===================== */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#12b3f8, #ef45fd);
    border-radius: 50px;
    border: 2px solid #ffffff;
}

/* =====================
     ScrollBar Firefox
   ===================== */
html {
    scrollbar-color: #FFF #12b3f8 #ef45fd;
}